<a href="https://colab.research.google.com/github/Haris-09/Python-Programming/blob/main/handling_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1=None

In [ ]:
type(var1)

NoneType

In [ ]:
var1+45

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [ ]:
import numpy as np
var2 = np.nan
print(var2)

nan

In [ ]:
# in numpy arrays empty values through no error on operations. nan has float datatype
var2+45

nan

In [ ]:
type(var2)

float

In [ ]:
var1==var1

True

In [ ]:
var2==var2

False

In [ ]:
np.nan==np.nan

False

In [ ]:
np.isnan(None)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
np.isnan(np.nan)

np.True_

In [14]:
None or True # Same for false

True

In [15]:
None + True # For all operators

TypeError: unsupported operand type(s) for +: 'NoneType' and 'bool'

In [16]:
None / 3 # For all operators

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

In [17]:
type(None)

NoneType

In [18]:
import numpy as np
np.nan or True # Same for False

nan

In [19]:
np.nan * True # For all operators

nan

In [20]:
np.nan - 3 # for all operators

nan

In [21]:
type(np.nan)

float

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
import pandas as pd

file_path = '/content/drive/My Drive/NAVTCC: Data Science & AI' # Replace with your file path
college = pd.read_csv(file_path+'/college01.csv', na_values='-') # Replacing - with nan
college.head()

   gradrat   lenroll     rmbrd  private     stufac    csat   act
0     78.0  5.253284  3.995585      1.0  17.387720  1314.0  28.0
1     91.0  5.961581  4.238922      1.0  18.145593  1389.0  33.0
2     68.0  6.353302  3.915584      1.0  16.030856  1206.0  15.0
3     54.0  5.936795  3.500592      1.0  13.870342  1447.0  28.0
4     82.0       NaN  3.998140      0.0  12.884368  1457.0  18.0

In [24]:
college[college['gradrat']>90]

     gradrat   lenroll     rmbrd  private     stufac    csat   act
1       91.0  5.961581  4.238922      1.0  18.145593  1389.0  33.0
8       97.0  5.768168  3.963127      1.0  12.479670  1436.0  19.0
14      92.0  5.321627  4.616528      1.0  12.448331  1180.0  32.0
20      92.0  5.337755  3.569773      0.0  12.477274  1436.0  21.0
27      99.0  6.108535  4.361391      1.0  16.029405  1540.0  21.0
31      97.0  4.891573  4.173851      1.0  16.387646  1582.0  28.0
37      98.0  4.934786  3.342361      0.0  17.145021  1592.0  15.0
40      99.0  5.712243  4.008586      0.0  18.025562  1475.0  34.0
46      94.0  5.939337  3.756848      1.0  12.931379   915.0  35.0
47      91.0  5.380203  3.728637      0.0  16.484867  1461.0  35.0
48      96.0  6.104691  3.943928      1.0  16.254758  1388.0  32.0
59      99.0  5.870170  3.999011      1.0  15.640891  1025.0  24.0
62      97.0  6.022786  3.867849      0.0  16.614067   915.0  30.0
65      92.0  5.243517  3.799479      1.0  10.675517  1421.0  35.0
70      99.0  5.615477  4.008307      1.0  13.911128  1163.0  25.0
84      93.0  6.218678  4.071197      0.0  11.310392  1461.0  29.0
87      93.0  5.994101  3.840226      1.0  17.961927  1411.0  16.0
102     99.0  6.280190  3.658257      0.0  17.851508  1161.0  23.0
103     96.0  5.564276  4.080323      1.0  13.971073  1449.0  25.0
110     92.0  5.507572  4.331899      0.0  16.379787  1361.0  32.0
114     99.0  5.277751  3.468927      1.0  18.747605  1514.0  28.0
115     99.0       NaN  3.690211      1.0  16.474214  1025.0  34.0
116     99.0  5.114090  4.050919      0.0  11.907847  1447.0  23.0
138     98.0  6.271534  3.525924      1.0  14.927469  1062.0  32.0
142     97.0  5.529254  4.267723      1.0  22.206079  1120.0  32.0
152     94.0  5.192433  4.289777      1.0  15.586231  1253.0  22.0
171     94.0  5.144936  4.084289      0.0  21.547521   966.0  24.0
180     99.0  5.506073  3.939146      0.0  12.200360  1025.0  26.0
186     91.0       NaN  4.075073      0.0  18.273138  1382.0  35.0
201     98.0  5.901907  3.303779      1.0  11.238575  1360.0  27.0
208     96.0  6.077177  3.662374      0.0  10.048526  1455.0  18.0
209     92.0  5.261309  3.955289      0.0  14.848731   948.0  33.0
218     97.0  6.135569  3.760267      1.0  17.421879  1141.0  28.0
219     94.0  5.885432  3.950639      0.0  11.262702  1226.0  22.0
225     96.0  5.728838  4.202284      1.0  15.762522   903.0  18.0
227     96.0  5.991752  4.046511      1.0  18.701061  1580.0  23.0
228     91.0  5.736814  4.770978      1.0  16.946773  1258.0  29.0
244     98.0  4.543647  4.145595      1.0  14.607252   940.0  35.0
245     93.0  5.681238  3.768200      0.0  11.895135   842.0  22.0
250     91.0  5.850121  4.029624      1.0  15.418028  1575.0  24.0
253     97.0  5.358889  3.684022      0.0  18.257599  1582.0  32.0
254     91.0  5.647739  3.894796      1.0   8.697243  1153.0  31.0
262     95.0  5.445686  3.802830      1.0  18.219262  1382.0  16.0
264     98.0  5.629695  3.499066      0.0  16.641648  1575.0  20.0
269     93.0  4.700438  3.474068      1.0  15.922862   889.0  35.0
277     92.0  6.523699  3.990713      0.0  19.893378  1569.0  29.0
283     94.0  5.583044  3.874557      1.0  19.305545  1507.0  18.0
285     94.0  5.365453  4.030245      0.0  16.066652  1455.0  18.0
287     95.0  5.938913  4.165559      1.0  12.198833  1253.0  34.0
288     98.0  5.283175  4.601672      0.0  18.140760  1460.0  29.0
293     91.0  5.431461  4.471148      1.0  14.215800  1499.0  17.0

In [25]:
college.gradrat[college.gradrat>90]

1      91.0
8      97.0
14     92.0
20     92.0
27     99.0
31     97.0
37     98.0
40     99.0
46     94.0
47     91.0
48     96.0
59     99.0
62     97.0
65     92.0
70     99.0
84     93.0
87     93.0
102    99.0
103    96.0
110    92.0
114    99.0
115    99.0
116    99.0
138    98.0
142    97.0
152    94.0
171    94.0
180    99.0
186    91.0
201    98.0
208    96.0
209    92.0
218    97.0
219    94.0
225    96.0
227    96.0
228    91.0
244    98.0
245    93.0
250    91.0
253    97.0
254    91.0
262    95.0
264    98.0
269    93.0
277    92.0
283    94.0
285    94.0
287    95.0
288    98.0
293    91.0
Name: gradrat, dtype: float64

In [26]:
college.gradrat[college.gradrat==np.nan]

Series([], Name: gradrat, dtype: float64)

In [27]:
college.gradrat[college.gradrat.isna()]

24    NaN
105   NaN
141   NaN
158   NaN
223   NaN
231   NaN
241   NaN
251   NaN
256   NaN
294   NaN
Name: gradrat, dtype: float64

In [30]:
df2=college.gradrat[college.gradrat.isnull()]
print(df2)
print("-----------------------")
print(type(df2))
print("-----------------------")
df3=pd.DataFrame(df2)
print(df3)

24    NaN
105   NaN
141   NaN
158   NaN
223   NaN
231   NaN
241   NaN
251   NaN
256   NaN
294   NaN
Name: gradrat, dtype: float64
-----------------------
<class 'pandas.core.series.Series'>
-----------------------
     gradrat
24       NaN
105      NaN
141      NaN
158      NaN
223      NaN
231      NaN
241      NaN
251      NaN
256      NaN
294      NaN

In [31]:
csat_unique = college.csat.unique()
print(csat_unique)

[1314. 1389. 1206. 1447. 1457.  849. 1163.  801. 1436.  883. 1272. 1469.
 1259. 1413. 1180.  907. 1388. 1580. 1511. 1141. 1347. 1338. 1296. 1017.
 1396. 1540.  876. 1251. 1582. 1255. 1429.  802. 1432. 1269. 1592. 1087.
 1244. 1475.  820. 1079. 1007.  915. 1461. 1111. 1090. 1593. 1062. 1484.
 1025.  953. 1421. 1092.  857. 1293.  901.  917.  848. 1120. 1380. 1472.
 1455.  835. 1449. 1411. 1454. 1382. 1443. 1575. 1297. 1282. 1076. 1161.
 1125.  958. 1053.  854. 1361. 1101. 1358. 1514. 1252. 1205. 1535. 1379.
  971. 1486. 1576. 1224. 1499. 1468. 1063. 1110. 1097. 1218.  825. 1552.
 1463. 1308. 1525. 1104. 1177.  923. 1253. 1041. 1172. 1147. 1219. 1036.
 1330.  905.  966. 1102. 1460. 1316. 1599. 1078. 1254.  955. 1001.  884.
 1086. 1245. 1360. 1241.  948.  959. 1099. 1226. 1426.  903. 1258. 1464.
  866.  940.  842. 1153.  960. 1569.  869. 1240. 1574. 1184.  889. 1152.
  838. 1519. 1507. 1353. 1119. 1341.]

In [32]:
college.gradrat[college.gradrat == 0] = np.nan

<ipython-input-32-1707485201>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  college.gradrat[college.gradrat == 0] = np.nan

In [34]:
import numpy as np
college.gradrat[np.isnan(college.gradrat)]
college.gradrat[np.isna(college.gradrat)]
college.gradrat[np.isnull(college.gradrat)]

AttributeError: module 'numpy' has no attribute 'isna'

In [35]:
college.isna().sum()

gradrat    10
lenroll    10
rmbrd      10
private     0
stufac     10
csat        0
act         1
dtype: int64

In [36]:
college.dropna(axis=0)

     gradrat   lenroll     rmbrd  private     stufac    csat   act
0       78.0  5.253284  3.995585      1.0  17.387720  1314.0  28.0
1       91.0  5.961581  4.238922      1.0  18.145593  1389.0  33.0
2       68.0  6.353302  3.915584      1.0  16.030856  1206.0  15.0
3       54.0  5.936795  3.500592      1.0  13.870342  1447.0  28.0
5       47.0  5.317230  4.120936      0.0  12.889140   849.0  31.0
..       ...       ...       ...      ...        ...     ...   ...
293     91.0  5.431461  4.471148      1.0  14.215800  1499.0  17.0
295     45.0  4.414567  4.153089      0.0  11.913977  1341.0  15.0
296     61.0  5.256643  3.952570      0.0  11.165932   959.0  16.0
298     87.0  5.990774  4.115084      1.0  12.344510   876.0  16.0
299     55.0  5.665350  3.289084      0.0  19.657685  1252.0  26.0

[259 rows x 7 columns]